<div class="p-12">
    <h1>Dashboard Page</h1>

    <div class="mt-5 flex gap-6">
        <a href="/">
            <button> Index </button>
        </a>
    </div>

    <div class="flex flex-wrap gap-3 mt-16">
        <div class="flex items-start">
            <div class="card">
                <survey-count></survey-count>
            </div>
        </div>
        
        
        <div class="w-fit">
            <div class="card h-[600px] relative overflow-y-auto">
                <user-list></user-list>
            </div>
        </div>
        
        
        
        <div class="w-fit">
            <div class="card h-[600px]">
                <modes-stats></modes-stats>
            </div>
        </div>        
    </div>
</div>